
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://blynk.cloud/dashboard/150647/global/devices/1063321/organization/150647/devices/564091/dashboard">
									UNIVERSIDAD POLITÉCNICA SALESIANA
								</a>
							</li>
						</ul>
					</nav>
									
				</div>
            </footer>
            