
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://blynk.cloud/dashboard/133484/global/filter/899991/organization/133484/devices/510147/dashboard">
									BLYNK IOT API
								</a>
							</li>
						</ul>
					</nav>
									
				</div>
            </footer>
            