asgiref
autopep8
django==2.2.10
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
schedule
honcho
firebase==3.0.1
firebase-admin==5.2.0
altgraph==0.17.3
asgiref==3.4.1
dj-database-url==0.5.0
Django==3.2.16
django-ajax-datatable==4.0.0
django-allauth==0.51.0
django-bootstrap4==21.2
django-clear-cache==0.3
django-crispy-forms==1.14.0
django-environ==0.8.1
django-heroku==0.3.1
django-import-export==3.1.0
django-livereload-server==0.4
django-sslserver==0.22
django-widget-tweaks==1.4.12
firebase==3.0.1
firebase-admin==5.2.0
greenlet==2.0.1
gunicorn==20.1.0
httplib2==0.20.4
msgpack==1.0.3
mysql-connector-python==8.0.32
networkx==3.0
ninja==1.11.1
oauthlib==3.2.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
PyJWT==2.6.0
pyodbc==4.0.35
pyparsing==3.0.7
pyserial==3.5
pytesseract==0.3.8
python-bidi==0.4.2
python-dateutil==2.8.2
python-decouple==3.5
python3-openid==3.2.0
reportlab==3.6.12
requests==2.27.1
sqlparse==0.4.2
tablib==3.3.0
virtualenv==20.13.0
XlsxWriter==3.0.3
gunicorn
asgiref
autopep8
pycodestyle
pytz
sqlparse
Unipath
dj-database-url
python-decouple
gunicorn
whitenoise
mysql_connector
mysql
paho-mqtt