{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />

<div class="content " data-background-color="dark" style="background-color: #616161;">
	<div class="panel-header "data-background-color="dark">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-black pb-2 fw-bold" style="color: #fcf9f9;" >Dashboard</h2>
					<h5 class="text-black op-7 mb-2" style="color: #fcf9f9;">REPOTENCIACIÓN DE UN MÓDULO INTERACTIVO A TRAVÉS DE ARDUINO CON COMUNICACIÓN DE RADIOENLACE A IOT Y NODE RED PARA INTEGRACIÓN A DJANGO EN LA VISUALIZACIÓN Y ALMACENAMIENTO DE DATOS SQL.</h5>
				</div>

			</div>
		</div>
	</div>

	<div class="page-inner mt--5">


		<div class="row mt--2">

			<div class="col-md-6" >
				<div class="card full-height">
					<div class="card-body" style="background-color: #b9b8b8;" >
						<div class="d-flex flex-wrap align-items-center pb-2 pt-4" >
							<div style="width: 50%; text-align: center;">
								<div id="gauge"></div>
								<div class="card-title">TEMPERATURA</div>
								<div class="card-category"></div>
							</div>
							<div style="width: 50%; text-align: center;">
								<img src="/static/assets/img/DHT.jpg" alt="..." 
									style="display: block; width: 40%; margin-top: 10px; margin-left: auto; margin-right: auto;">
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card full-height">
					<div class="card-body" style="background-color: #b9b8b8;">
						<div class="d-flex flex-wrap align-items-center pb-2 pt-4">
							<div style="width: 50%; text-align: center;">
								<div id="gauge2"></div>
								<div class="card-title">HUMEDAD</div>

							</div>
							<div style="width: 50%; text-align: center;">
								<img src="/static/assets/img/DHT.jpg" alt="Humedad"
									style="display: block; width: 40%; margin-top: 10px; margin-left: auto; margin-right: auto;">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="row mt--2">

			<div class="col-md-6">
				<div class="card full-height">
					<div class="card-body" style="background-color: #b9b8b8;">
						<div class="d-flex flex-wrap align-items-center pb-2 pt-4">
							<div style="width: 50%; text-align: center;">
								<div id="gauge3"></div>
								<div class="card-title">CALIDAD DEL AIRE</div>

							</div>
							<div style="width: 50%; text-align: center;">
								<img src="/static/assets/img/Mq-135.jpg" alt="Velocidad del Viento"
									
									style="display: block; width: 40%; margin-top: 10px; margin-left: auto; margin-right: auto;">
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card full-height">
					<div class="card-body" style="background-color: #b9b8b8;">
						<div class="d-flex flex-wrap align-items-center pb-2 pt-4">
							<div style="width: 50%; text-align: center;">
								<div id="gauge4"></div>
								<div class="card-title">DISTANCIA</div>

							</div>
							<div style="width: 50%; text-align: center;">
								<!-- Puedes cambiar la ruta y el alt según tus necesidades -->
								<img src="/static/assets/img/ard-hcsr04.jpg" alt="Cantidad de Lluvia"
									style="display: block; width: 40%; margin-top: 10px; margin-left: auto; margin-right: auto;">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>




		<div class="col-md-6">

			<div class="card full-height">
				<div class="card-body" style="background-color: #b9b8b8;">
					<div class="d-flex flex-wrap align-items-center pb-2 pt-4">
						<div style="width: 50%; text-align: center;">
							<div id="g1"></div>
							<div class="card-title">CANTIDAD DE LUZ</div>
							
						</div>
						<div style="width: 50%; text-align: center;">
							<img src="/static/assets/img/LDR.jpg" alt="Dirección del Viento"
								style="display: block; width: 40%; margin-top: 10px; margin-left: auto; margin-right: auto;">
						</div>
					</div>

				</div>
			</div>

		</div>
		
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title"> GRAFICA TEMPERATURA</div>
					<div class="chart-container">
						<canvas id="multipleLineChart"></canvas>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">GRAFICAS DE HUMEDAD</div>
					<div class="chart-container">
						<canvas id="multipleLineChart2"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="card-title">GRAFICA CALIDAD DEL AIRE</div>
					<div class="chart-container">
						<canvas id="multipleLineChart3"></canvas>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="card-title">GRAFICAS DE DIRECCION DISTANCIA</div>
						<div class="chart-container">
							<canvas id="multipleLineChart4"></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<div class="card-title">PREDICCIONES DE CANTIDAD DE LUZ</div>
						<div class="chart-container">
							<canvas id="multipleLineChart5"></canvas>
						</div>
					</div>
				</div>
			</div>

		



		




	</div>

</div>


<style>
	
	#send {
		display: none;
	}

	#hola1 {
		display: none;
	}

	#hola2 {
		display: none;
	}

	input[type="range"] {
		width: 100%;
	}

	#add-row5_filter {
		text-align: left;
	}

	#add-row6_filter {
		text-align: left;
	}

	#add-row7_filter {
		text-align: left;
	}

	#add-row8_filter {
		text-align: left;
	}

	.container {
		margin: 0 auto;
		text-align: center;
	}

	.gauge_container {
		text-align: left;
		height: 4px;
		display: inline-block;
		border: 1px solid #ccc;
		margin: 40px 5px 0 5px;
	}

	.gauge {
		width: 400px;
		height: 300px;
		display: inline-block;
		-webkit-transform: translate3d(0, 0, 0);
	}

	.controls {
		text-align: left;
	}

	li {
		padding: 10px 0 0 0;
	}

	li.refresh {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	label {
		font-family: Arial;
		display: inline-block;
		width: 5px;
		margin: 0 0 5px 0;
		text-align: right;
		padding: 5px;
		color: #919191;
	}

	input {
		font-weight: bold;
		font-size: 13px;
		padding: 10px;
		border: 1px solid #ccc;
		margin: 5px;
	}

	input[disabled=disabled] {
		font-weight: normal;
		font-size: 11px;
		padding: 0 0 0 10px;
		margin: 0px;
		color: #777777;
		border-color: transparent;
		background: #fff;
	}

	a:link.button,
	a:active.button,
	a:visited.button,
	a:hover.button {
		margin: 0px 5px 0 2px;
		padding: 7px 13px;
	}

	.container {
		width: 450px;
		margin: 0 auto;
		text-align: center;
	}

	.gauge {
		width: 300px;
		height: 300px;
	}

	a:link.button,
	a:active.button,
	a:visited.button,
	a:hover.button {
		margin: 30px 5px 0 2px;
		padding: 7px 13px;
	}

	/* Ajustes de estilo para las celdas de la tabla */
	#add-row5 {
		font-size: 14px;
		/* Tamaño de fuente */
	}

	#add-row5 th,
	#add-row5 td {
		padding: 8px;
		/* Relleno interno */
	}
</style>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<script src="/static/assets/js/raphael.min.js"></script>
<script src="/static/assets/js/justgage.js"></script>
<script src="/static/assets/js/setting-demo.js"></script>
<script src="/static/assets/js/demo.js"></script>
<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<!-- jQuery -->
<!-- jQuery UI -->
<script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/assets/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/assets/js/demo.js"></script>
<!-- FLOT CHARTS -->
<script src="/static/assets/plugins/flot/jquery.flot.js"></script>
<!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
<script src="/static/assets/plugins/flot-old/jquery.flot.resize.min.js"></script>
<!-- FLOT PIE PLUGIN - also used to draw donut charts -->
<script src="/static/assets/plugins/flot-old/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="nouislider.min.css">
<!-- DataTables CSS y JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="dist/gauge.js"></script>
<script>
	


	
		var laa = "{{ y_test_json }}"
		var Temperatura = JSON.parse(laa);
	
		var laa5 = "{{ HUMEDAD_REAL }}"
		var HUMEDAD = JSON.parse(laa5);
		
		var laa7 = "{{ VELVIENTO_REAL }}"
		var VELVIENTO = JSON.parse(laa7);

		var laa4 = "{{ DIRVIENTO_REAL }}"
		var DIRVIENTO = JSON.parse(laa4);

		var laa2 = "{{ fechas_REAL }}"
		var fechasJSON = laa2.replace(/&quot;/g, '"');
		alert(fechasJSON);
		var fechasArray;


		try {
			fechasArray = JSON.parse(fechasJSON);
		} catch (error) {
			alert("Error al analizar las fechas:", error);

		}

	

		


	///////////////////////////////////////////

	var multipleLineChart = document.getElementById('multipleLineChart').getContext('2d')
	myMultipleLineChart = new Chart(multipleLineChart, {
		type: 'line',
		data: {
			labels: fechasArray ,
			datasets: [{
				label: "TEMPERATURA (CELCIUS)",
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 1,
				pointHoverRadius: 1,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 1,
				data: Temperatura,
			}]
		},

	});


	var multipleLineChart2 = document.getElementById('multipleLineChart2').getContext('2d')
	var myMultipleLineChart2 = new Chart(multipleLineChart2, {
		type: 'line',
		data: {
			labels: fechasArray,
			datasets: [{
				label: "HUMEDAD (%)",
				borderColor: "#59d05d",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#59d05d",
				pointBorderWidth: 1,
				pointHoverRadius: 1,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: HUMEDAD
			}]
		},

	});

	var multipleLineChart3 = document.getElementById('multipleLineChart3').getContext('2d')
	var myMultipleLineChart3 = new Chart(multipleLineChart3, {
		type: 'line',
		data: {
			labels: fechasArray,
			datasets: [{
				label: "CALIDAD DEL AIRE (PPM)",
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 1,
				pointHoverRadius: 1,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 1,
				data: DIRVIENTO
			}]
		},
	});



	var multipleLineChart4 = document.getElementById('multipleLineChart4').getContext('2d')
	var myMultipleLineChart4 = new Chart(multipleLineChart4, {
		type: 'line',
		data: {
			labels: fechasArray,
			datasets: [{
				label: "DISTANCIA (CM)",
				borderColor: "#59d05d",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#59d05d",
				pointBorderWidth: 1,
				pointHoverRadius: 1,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: VELVIENTO
			}]
		},

	});


	var multipleLineChart5 = document.getElementById('multipleLineChart5').getContext('2d')
	var myMultipleLineChart5 = new Chart(multipleLineChart5, {
		type: 'line',
		data: {
			labels: fechasArray,
			datasets: [{
				label: "CANTIDAD DE LUZ (%)",
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 1,
				pointHoverRadius: 1,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 1,
				data: VELVIENTO
			}]
		},

	});

	

	




	

	
	var miBoton = document.getElementById("miBoton");

	document.addEventListener('DOMContentLoaded', function () {
		// Obtén los datos de la vista Django
		fetch('/hola/')
			.then(response => response.json())
			.then(data => {
				var ctx = document.getElementById('myChart').getContext('2d');
				var myChart = new Chart(ctx, {
					type: 'bar',
					data: {
						labels: data.labels,
						datasets: [{
							label: 'Datos de ejemplo',
							data: data.data,
							backgroundColor: 'rgba(75, 192, 192, 0.2)',
							borderColor: 'rgba(75, 192, 192, 1)',
							borderWidth: 1
						}]
					},
				});
			});
	});

	var gauge;
	let valor_v0, valor_v1, valor_v2, valor_v3, valor_v4;
	function actualizarInterfazUsuario() {
		// Realizar una solicitud AJAX
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/obtener_datos/', true);

		xhr.onload = function () {
			if (xhr.status === 200) {
				// Actualizar la interfaz de usuario con los datos recibidos
				var data = JSON.parse(xhr.responseText);

				valor_v0 = data.v0;
				valor_v1 = data.v1;
				valor_v2 = data.v2;
				valor_v3 = data.v3;
				valor_v4 = data.v4;
				gauge.refresh(valor_v0);
				gauge2.refresh(valor_v1);
				gauge3.refresh(valor_v2);
				gauge4.refresh(valor_v3);
				g1.refresh(valor_v4);
				document.getElementById('v0').innerText = 'v0: ' + data.v0;
				document.getElementById('v1').innerText = 'v1: ' + data.v1;
				document.getElementById('v2').innerText = 'v2: ' + data.v2;
				document.getElementById('v3').innerText = 'v3: ' + data.v3;
				document.getElementById('v4').innerText = 'v4: ' + data.v4;
			}
		};

		xhr.send();
	}

	// Actualizar la interfaz de usuario cada 5 segundos (puedes ajustar este intervalo)
	setInterval(actualizarInterfazUsuario, 1000);




	/** TEMPERATURA  */
	gauge = new JustGage({

		id: "gauge",// required

		value: 20,
		min: 0,
		max: 40,
		symbol: '°C',
		pointer: true,
		gaugeWidthScale: 0.6,
		counter: true,
		decimals: 2,

		customSectors: [{
			color: '#ff0000',
			lo: 26,
			hi: 40
		}, {
			color: '#00ff00',
			lo: 0,
			hi: 25
		}],

		// more options here

	});



	var gauge2
	/** HUMEDAD */
	gauge2 = new JustGage({

		id: "gauge2",// required

		value: 21,
		min: 0,
		max: 100,
		symbol: '%',
		pointer: true,
		gaugeWidthScale: 0.6,
		decimals: 2,
		customSectors: [{
			color: '#ff0000',
			lo: 50,
			hi: 100
		}, {
			color: '#00ff00',
			lo: 0,
			hi: 50
		}],
		counter: true


	});

	var gauge3 = new JustGage({

		id: "gauge3",// required

		value: 21,
		min: 0,
		max: 40,
		symbol: 'ppm',
		pointer: true,
		gaugeWidthScale: 0.6,
		decimals: 2,
		customSectors: [{
			color: '#ff0000',
			lo: 50,
			hi: 100
		}, {
			color: '#00ff00',
			lo: 0,
			hi: 50
		}],
		counter: true
		// more options here

	});

	var gauge4 = new JustGage({

		id: "gauge4",// required

		value: 21,
		min: 0,
		max: 300,
		symbol: 'cm',
		pointer: true,
		gaugeWidthScale: 0.6,
		decimals: 2,
		customSectors: [{
			color: '#ff0000',
			lo: 50,
			hi: 100
		}, {
			color: '#00ff00',
			lo: 0,
			hi: 50
		}],
		counter: true
		// more options here

	});

	var g1 = new JustGage({

		id: "g1",// required

		value: 21,
		min: 0,
		max: 300,
		symbol: '%',
		pointer: true,
		gaugeWidthScale: 0.6,
		decimals: 2,
		customSectors: [{
			color: '#ff0000',
			lo: 50,
			hi: 100
		}, {
			color: '#00ff00',
			lo: 0,
			hi: 50
		}],
		counter: true
		// more options here

	});



	

	var updateInterval = 1000 //Fetch data ever x milliseconds
	var realtime = 'on' //If == to on then fetch data every x seconds. else stop fetching
	function update() {

		interactive_plot.setData([getTempData()])

		interactive_plot.draw()
		setTimeout(update, updateInterval)

	}
	update()

	function update() {

		var data1 = document.getElementById("select1").value;
		firebase.database().ref(data1).once('value').then(

			function (snapshot) {
				globalThis.Humedad = snapshot.val().Humedad;
				globalThis.Temperatura = snapshot.val().Temperatura;
				globalThis.LDR = snapshot.val().LDR;
				globalThis.suelo = snapshot.val().suelo;
				globalThis.Motor = snapshot.val().Motor;
				console.table(Motor);
				if (Motor == 1) {
					document.getElementById("demo").innerHTML = "ENCENDIDO";
				} else {
					document.getElementById("demo").innerHTML = "APAGADO";
				}

				Circles.create({
					id: 'circles-1',
					radius: 60,
					value: Humedad,
					maxValue: 100,
					width: 5,
					text: Humedad + '%',
					colors: ['#f1f1f1', '#2BB930'],
					duration: 0,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})


				Circles.create({
					id: 'circles-2',
					radius: 60,
					value: Temperatura,
					maxValue: 100,
					width: 5,
					text: Temperatura + 'C°',
					colors: ['#f1f1f1', '#2BB930'],
					duration: 0,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})

				Circles.create({
					id: 'circles-3',
					radius: 60,
					value: LDR,
					maxValue: 100,
					width: 7,
					text: LDR + ' %',
					colors: ['#f1f1f1', '#F25961'],
					duration: 0,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})

				Circles.create({
					id: 'circles-13',
					radius: 60,
					value: suelo,
					maxValue: 100,
					width: 7,
					text: suelo + ' %',
					colors: ['#f1f1f1', '#F25961'],
					duration: 0,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})


				//console.log(title);
			})

		setTimeout(update, 1000)
	}



	$(document).ready(function () {
		$('#add-row5').DataTable({
			"pageLength": 15,
		});
		$('#basic-datatables').DataTable({

		});
	});

	update()
</script>

{% endblock javascripts %}