{% extends "layouts/base.html" %}

{% block title %} UI Datatables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
	<div class="panel-header">
		<div class="page-inner py-5">
			<h1 class="text-black pb-2 fw-bold">Tabla de registros de sensores</h1>
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-black pb-2 fw-bold">Dashboard IoT con integración SQL</h2>
					
				</div>
				<div class="ml-md-auto py-2 py-md-0">

				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="card full-height">
			<div class="card-body">

				<div class="table-responsive">
					<table id="add-row" class="display table table-striped table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Temperatura (Celcius)</th>
								<th>Humedad (%)</th>
								<th>Distancia (cm)</th>
								<th>Calidad del aire (ppm)</th>
								<th>Cantidad de Luz(%)</th>
								<th>Fecha</th>
								<th>Hora</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>ID</th>
								<th>Temperatura (Celcius)</th>
								<th>Humedad (%)</th>
								<th>Distancia (cm)</th>
								<th>Calidad del aire (ppm)</th>
								<th>Cantidad de Luz(%)</th>
								<th>Fecha</th>
								<th>Hora</th>
							</tr>
						</tfoot>
						<tbody>
							{% for dato in data2 %}
							<tr>
								<td>{{dato.0}}</td>
								<td>{{dato.1}}</td>
								<td>{{dato.2}}</td>
								<td>{{dato.3}}</td>
								<td>{{dato.4}}</td>
								<td>{{dato.5}}</td>
								<td>{{dato.7}}</td>
								<td>{{dato.6}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<form action="{% url 'reporte' %}" method="get">
					<button class="btn btn-default" type="submit">DESCARGAR REPORTE EN EXCEL</button>
				</form>

			</div>
		</div>
	</div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/assets/js/setting-demo2.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
	
	
	
	$(document).ready(function () {
		$('#add-row').DataTable({
			"pageLength": 15,
		});
		$('#basic-datatables').DataTable({
			
		});		
	});
	

	
</script>

{% endblock javascripts %}